img {
    height: 50%;
    width: 50%;
    align-content: center;
}

ion-content {
    --background: url('/assets/img/bckgrd.jpg') repeat 45% 140%;
    //--background: #ffb000;
    min-height: 100%;
    .upper {
        width: 100%;
        height: 100px;
        padding-top: 25px;
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            ion-icon {
                font-size: 100px;
                color: #fff;
            }
        }
        #login {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }
    }
    .middle {
        padding: 20px;
        .box {
            border-radius: 10px;
            height: auto;
            background: #fff;
            padding: 20px;
        }
        p {
            color: gray;
            text-align: center;
        }
        ion-item {
            ion-icon {
                color: gold;
            }
        }
        #forgetPassword {
            font-size: 14px;
            font-weight: bold;
            color: rgb(44, 44, 204);
            text-align: end;
        }
        .btn {
            display: flex;
            justify-content: center;
            ion-button {
                --background: #20573d;
            }
        }
    }
    .socialMedia {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ccc;
        font-size: 34px;
        font-weight: bold;
        color: rgb(44, 44, 204);
        ion-icon {
            padding-right: 10px;
        }
        ion-icon:nth-child(1) {
            color: #4267B2;
        }
        ion-icon:nth-child(2) {
            color: #1DA1F2;
        }
        ion-icon:nth-child(3) {
            color: #4267B2;
        }
    }
}
